accelerate
aiohttp
asyncio
catboost
category_encoders
click
colorama
datasets
evaluate
Faker
# Code quality and linting tools
flake8
gensim
gymnasium
huggingface
imbalanced-learn
imbalanced-learn
ipywidgets>=7.6
jax
jupyterlab>=3
kaggle
kagglehub[pandas-datasets]
kneed
librosa
lightgbm
matplotlib
matplotlib_venn
mlflow
mypy
networkx
nltk
notebook
numpy
opencv-python
optuna
pandas
plotly
plotly
prophet
psycopg2-binary
pyspark==3.5.3
delta-spark==3.2.0
pyarrow>=14.0.0
py4j==0.10.9.7
pulp
px
pydot
pygad
pygame
PyMongo
pylint
pymysql
random_word
ray[tune]
ruff
scikit-learn
scipy
seaborn
sentencepiece
spacy
SQLAlchemy
sympy
# torch
# torchaudio
# torchvision
torchtext
transformers
ultralytics
websockets
xgboost
ydata-profiling
yellowbrick
