aiohttp
asyncio
catboost
category_encoders
click
colorama
Faker
gymnasium
imbalanced-learn
ipywidgets>=7.6
jax
jupyterlab>=3
kagglehub[pandas-datasets]
kneed
librosa
matplotlib
matplotlib_venn
imbalanced-learn
lightgbm
mlflow
networkx
notebook
nltk
numpy
opencv-python
optuna
pandas
plotly
plotly
prophet
px
pygame
pydot
pygad
# torch
# torchvision
# torchaudio
pulp
PyMongo
psycopg2-binary
random_word
scikit-learn
scipy
seaborn
SQLAlchemy
sympy
uvicorn
websockets
yellowbrick
ydata-profiling
xgboost
# Code quality and linting tools
pylint
mypy
flake8
ruff
